<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutlookAddIn1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WorkSupportTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<OutlookAddIn1.Properties.Settings>
      <setting name="SCHEDULE_FILE" serializeAs="String">
          <value>C:\\Users\\kobayauu\\OneDrive - Brother\\schedule.csv</value>
      </setting>
      <setting name="SETTING_FILE" serializeAs="String">
          <value>C:\\Users\\kobayauu\\OneDrive - Brother\\setting.csv</value>
      </setting>
      <setting name="START_TIME" serializeAs="String">
          <value>7</value>
      </setting>
      <setting name="WORKTIME_URL" serializeAs="String">
          <value>http://133.151.236.52/TimePro-VG/page/OVg00050t.aspx?type=pclocking</value>
      </setting>
  </OutlookAddIn1.Properties.Settings>
    </userSettings>
</configuration>